[Unit]
Description=uWSGI app "miku"
After=syslog.target

[Service]
Environment="PLAYLIST=/where/is/your/playlist.m3u8"
Environment="SPEAKER_MAC=00:00:00:00:00:00"
ExecStart=/usr/local/bin/uwsgi --ini /home/pi/Documents/miku/app.ini
User=pi
Group=pi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
